.alert {
    position:fixed;
    left:0;
    right:0;
    z-index: 1000;
    margin-bottom: 0px !important;
    padding: 0px;
    height: 56px;
    border-radius: 0px !important;
    transition: background-color 0.5s ease !important;
}
.fade {
    margin: 0px !important;
    border-radius: 0px !important;
    text-align: center;
    padding-top: 15px;
    opacity:0.9;
}

.alert-success {
    border-color: transparent;
    background-color: rgba(43, 255, 0, 0.65);;
}

.alert-danger {
    border-color: transparent;
    background-color: rgba(255, 0, 0, 0.8);;
}

.alert-info {
    border-color: transparent;
    background-color: rgba(0, 196, 255, 0.8);;
}

